venv/
.venv
.venv/
*/venv/
*/.venv/

.env
.env.*
!.env-exemplo

__pycache__/
*/__pycache__/
*.py[cod]

.ipynb_checkpoints/
*.ipynb_checkpoints

.pytest_cache/
.mypy_cache/
.ruff_cache/

.idea/
.vscode/

Thumbs.db
.DS_Store
